[package]
name = "iroh-relay"
version = "0.30.0"
edition = "2021"
readme = "README.md"
description = "Iroh's relay server and client"
license = "MIT OR Apache-2.0"
authors = ["n0 team"]
repository = "https://github.com/n0-computer/iroh"
keywords = ["networking", "holepunching", "p2p"]
rust-version = "1.81"

[lints]
workspace = true

[dependencies]
anyhow = { version = "1" }
bytes = "1.7"
clap = { version = "4", features = ["derive"], optional = true }
derive_more = { version = "1.0.0", features = [
    "debug",
    "display",
    "from",
    "try_into",
    "deref",
] }
futures-buffered = "0.2.9"
futures-lite = "2.5"
futures-sink = "0.3"
futures-util = "0.3"
governor = "0.7.0"
hickory-proto = { version = "=0.25.0-alpha.4" }
hickory-resolver = "=0.25.0-alpha.4"
http = "1"
http-body-util = "0.1.0"
hyper = { version = "1", features = ["server", "client", "http1"] }
hyper-util = "0.1.1"
iroh-base = { version = "0.30.0", path = "../iroh-base", default-features = false, features = ["key", "relay"] }
iroh-metrics = { version = "0.30.0", default-features = false }
num_enum = "0.7"
pin-project = "1"
postcard = { version = "1", default-features = false, features = [
    "alloc",
    "use-std",
    "experimental-derive",
] }
quinn = { package = "iroh-quinn", version = "0.12.0" }
quinn-proto = { package = "iroh-quinn-proto", version = "0.12.0" }
rand = "0.8"
rcgen = { version = "0.13", optional = true }
regex = { version = "1.7.1", optional = true }
reloadable-state = { version = "0.1", optional = true }
reqwest = { version = "0.12", default-features = false, features = [
    "rustls-tls",
] }
rustls = { version = "0.23", default-features = false, features = ["ring"] }
rustls-cert-reloadable-resolver = { version = "0.7.1", optional = true }
rustls-cert-file-reader = { version = "0.4.1", optional = true }
rustls-pemfile = { version = "2.1", optional = true }
serde = { version = "1", features = ["derive", "rc"] }
stun-rs = "0.1.5"
thiserror = "2"
time = "0.3.20"
tokio = { version = "1", features = [
    "io-util",
    "macros",
    "sync",
    "rt",
    "net",
    "fs",
    "io-std",
    "signal",
    "process",
] }
tokio-rustls = { version = "0.26", default-features = false, features = [
    "logging",
    "ring",
] }
tokio-rustls-acme = { version = "0.6", optional = true }
tokio-tungstenite = "0.21" # avoid duplicating this dependency as long as tokio-tungstenite-wasm isn't updated
tokio-tungstenite-wasm = "0.3"
tokio-util = { version = "0.7", features = ["io-util", "io", "codec", "rt"] }
toml = { version = "0.8", optional = true }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [
    "env-filter",
], optional = true }
url = { version = "2.5", features = ["serde"] }
webpki = { package = "rustls-webpki", version = "0.102" }
webpki-roots = "0.26"
data-encoding = "2.6.0"
lru = "0.12"
dashmap = { version = "6.1.0", optional = true }

[dev-dependencies]
clap = { version = "4", features = ["derive"] }
crypto_box = { version = "0.9.1", features = ["serde", "chacha20"] }
proptest = "1.2.0"
rand_chacha = "0.3.1"
testresult = "0.4.0"
tokio = { version = "1", features = [
    "io-util",
    "sync",
    "rt",
    "net",
    "fs",
    "macros",
    "time",
    "test-util",
] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
iroh-test = { path = "../iroh-test" }
serde_json = "1"

[features]
default = ["metrics"]
server = [
    "dep:tokio-rustls-acme",
    "dep:clap",
    "dep:dashmap",
    "dep:toml",
    "dep:rustls-pemfile",
    "dep:regex",
    "dep:tracing-subscriber",
    "dep:rcgen",
    "dep:reloadable-state",
    "dep:rustls-cert-reloadable-resolver",
    "dep:rustls-cert-file-reader",
]
metrics = ["iroh-metrics/metrics"]
test-utils = []

[[bin]]
name = "iroh-relay"
path = "src/main.rs"
required-features = ["server"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "iroh_docsrs"]
