[package]
name = "iroh-relay"
version = "0.32.0"
edition = "2021"
readme = "README.md"
description = "Iroh's relay server and client"
license = "MIT OR Apache-2.0"
authors = ["n0 team"]
repository = "https://github.com/n0-computer/iroh"
keywords = ["networking", "holepunching", "p2p"]
rust-version = "1.81"

[lib]
crate-type = ["lib", "cdylib"] # cdylib is needed for Wasm support

[lints]
workspace = true

[dependencies]
anyhow = { version = "1" }
bytes = "1.7"
derive_more = { version = "1.0.0", features = [
    "debug",
    "display",
    "from",
    "try_into",
    "deref",
] }
http = "1"
http-body-util = "0.1.0"
hyper = { version = "1", features = ["server", "client", "http1"] }
hyper-util = "0.1.1"
iroh-base = { version = "0.32.0", path = "../iroh-base", default-features = false, features = ["key", "relay"] }
iroh-metrics = { version = "0.31", default-features = false }
n0-future = "0.1.2"
num_enum = "0.7"
pin-project = "1"
pkarr = { version = "2", default-features = false }
postcard = { version = "1", default-features = false, features = [
    "alloc",
    "use-std",
    "experimental-derive",
] }
quinn = { package = "iroh-quinn", version = "0.13.0", default-features = false, features = ["rustls-ring"] }
quinn-proto = { package = "iroh-quinn-proto", version = "0.13.0" }
rand = "0.8"
reqwest = { version = "0.12", default-features = false, features = [
    "rustls-tls",
] }
rustls = { version = "0.23", default-features = false, features = ["ring"] }
serde = { version = "1", features = ["derive", "rc"] }
strum = { version = "0.26", features = ["derive"] }
stun-rs = "0.1.5"
thiserror = "2"
tokio = { version = "1", features = [
    "io-util",
    "macros",
    "sync",
    "rt",
] }
tokio-rustls = { version = "0.26", default-features = false, features = [
    "logging",
    "ring",
] }
tokio-tungstenite-wasm = "0.4"
tokio-util = { version = "0.7", features = ["io-util", "io", "codec", "rt"] }
tracing = "0.1"
url = { version = "2.5", features = ["serde"] }
webpki = { package = "rustls-webpki", version = "0.102" }
webpki-roots = "0.26"
data-encoding = "2.6.0"
lru = "0.12"
z32 = "1.0.3"

# server feature
clap = { version = "4", features = ["derive"], optional = true }
dashmap = { version = "6.1.0", optional = true }
governor = { version = "0.7.0", optional = true }
hickory-proto = { version = "=0.25.0-alpha.4", default-features = false, optional = true }
rcgen = { version = "0.13", optional = true }
regex = { version = "1.7.1", optional = true }
reloadable-state = { version = "0.1", optional = true }
rustls-cert-reloadable-resolver = { version = "0.7.1", optional = true }
rustls-cert-file-reader = { version = "0.4.1", optional = true }
rustls-pemfile = { version = "2.1", optional = true }
tokio-rustls-acme = { version = "0.6", optional = true }
tokio-tungstenite = { version = "0.24", default-features = false, optional = true } # keep version in sync with what tokio-tungstenite-wasm depends on
toml = { version = "0.8", optional = true }
tracing-subscriber = { version = "0.3", features = [
    "env-filter",
], optional = true }

# non-wasm-in-browser dependencies
[target.'cfg(not(all(target_family = "wasm", target_os = "unknown")))'.dependencies]
hickory-resolver = "=0.25.0-alpha.4"
tokio = { version = "1", features = [
    "io-util",
    "macros",
    "sync",
    "rt",
    "net",
    "fs",
    "io-std",
    "signal",
    "process",
] }

[dev-dependencies]
clap = { version = "4", features = ["derive"] }
crypto_box = { version = "0.9.1", features = ["serde", "chacha20"] }
proptest = "1.2.0"
rand_chacha = "0.3.1"
testresult = "0.4.0"
tokio = { version = "1", features = [
    "io-util",
    "sync",
    "rt",
    "net",
    "fs",
    "macros",
    "time",
    "test-util",
] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
serde_json = "1"
tracing-test = "0.2.5"

[build-dependencies]
cfg_aliases = { version = "0.2" }

[features]
default = ["metrics"]
server = [
    "dep:clap",
    "dep:dashmap",
    "dep:governor",
    "dep:hickory-proto",
    "dep:rcgen",
    "dep:regex",
    "dep:reloadable-state",
    "dep:rustls-cert-file-reader",
    "dep:rustls-cert-reloadable-resolver",
    "dep:rustls-pemfile",
    "dep:tokio-rustls-acme",
    "dep:tokio-tungstenite",
    "dep:toml",
    "dep:tracing-subscriber",
    "quinn/log",
    "quinn/platform-verifier",
    "quinn/runtime-tokio",
]
metrics = ["iroh-metrics/metrics"]
test-utils = []

[[bin]]
name = "iroh-relay"
path = "src/main.rs"
required-features = ["server"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "iroh_docsrs"]
