[package]
name = "iroh"
version = "0.4.1"
edition = "2021"
readme = "README.md"
description = "IPFS reimagined"
license = "MIT/Apache-2.0"
authors = ["dignifiedquire <me@dignifiedquire.com>", "n0 team"]
repository = "https://github.com/n0-computer/iroh"

# Sadly this also needs to be updated in .github/workflows/ci.yml
rust-version = "1.63"

[dependencies]
# abao = { version = "0.2.0", features = ["group_size_16k", "tokio_io"], default-features = false }
anyhow = { version = "1", features = ["backtrace"] }
backoff = "0.4.0"
base64 = "0.21.0"
blake3 = "1.3.3"
bytes = "1.4"
clap = { version = "4", features = ["derive"], optional = true }
console = { version = "0.15.5", optional = true }
crypto_box = { version = "0.9.0-pre", features = ["serde"] }
curve25519-dalek = "=4.0.0-rc.2"
data-encoding = { version = "2.3.3", optional = true }
default-net = "0.14.1"
der = { version = "0.6", features = ["alloc", "derive"] }
derive_more = "0.99.17"
dirs-next = "2.0.0"
ed25519-dalek = { version = "=2.0.0-rc.2", features = ["serde", "rand_core"] }
flume = "0.10.14"
futures = "0.3.25"
governor = "0.5.1"
hex = "0.4.3"
hostname = "0.3.1"
http = "0.2.9"
hyper = { version = "0.14.25", features = ["server", "client", "http1"] }
indicatif = { version = "0.17", features = ["tokio"], optional = true }
libc = "0.2.139"
multibase = { version = "0.9.1", optional = true }
num_cpus = "1.15.0"
once_cell = "1.17.0"
os_info = "3.6.0"
portable-atomic = "1"
postcard = { version = "1", default-features = false, features = ["alloc", "use-std", "experimental-derive"] }
quic-rpc = { version = "0.5", default-features = false, features = ["quinn-transport", "flume-transport"] }
quinn = "0.9"
quinn-proto = "0.9"
quinn-udp = "0.3"
rand = "0.8"
rcgen = "0.10"
regex = { version = "1.7.1", optional = true }
reqwest = { version = "0.11.14", default-features = false, features = ["rustls-tls"] }
ring = "0.16.20"
rustls = { version = "0.20.8", default-features = false, features = ["dangerous_configuration"] }
rustls-acme = { version = "0.5.2", optional = true, features = ["tokio"] }
rustls-pemfile = { version = "1.0.2", optional = true }
serde = { version = "1", features = ["derive"] }
serde-error = "0.1.2"
serdect = "0.2.0"
socket2 = "0.4.7"
ssh-key = { version = "0.6.0-pre.0", features = ["ed25519", "std", "rand_core"] }
stun-rs = "0.1.4"
subtle = "2.4.1"
tempfile = "3.4"
thiserror = "1"
time = "0.3.20"
tokio = { version = "1", features = ["full"] }
tokio-rustls = { version = "0.23.4", optional = true }
tokio-stream = "0.1"
tokio-util = { version = "0.7", features = ["io-util", "io"] }
toml = { version = "0.7.3", optional = true }
tracing = "0.1"
tracing-futures = "0.2.5"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
trust-dns-resolver = "0.22.0"
walkdir = "2"
webpki = "0.22"
wg = "0.3.1"
x509-parser = "0.14"
zeroize = "1.5"
bao-tree = { version = "0.1.5", features = ["tokio_io"], default-features = false }
range-collections = "0.4.0"
async-lock = { git = "https://github.com/smol-rs/async-lock", branch = "notgull/block-lock" }
surge-ping = "0.8.0"


[target.'cfg(target_os = "linux")'.dependencies]
netlink-packet-route = "0.15.0"
rtnetlink = "0.12.0"

[target.'cfg(target_os = "windows")'.dependencies]
wmi = "0.12.2"

[dev-dependencies]
proptest = "1.0.0"
rand = "0.8"
testdir = "0.7.2"
tokio = { version = "1", features = ["full", "test-util"] }
regex = { version = "1.7.1", features = ["std"] }
nix = "0.26.2"
http-body = "0.4.5"

[features]
default = ["cli", "derper"]
cli = ["clap", "console", "indicatif", "data-encoding", "multibase"]
derper = ["tokio-rustls", "rustls-acme", "toml", "rustls-pemfile", "regex"]
test = []

[[bin]]
name = "iroh"
required-features = ["cli"]

[[bin]]
name = "derper"
required-features = ["cli", "derper"]

[build-dependencies]
build-data = "0.1.3"

[profile.optimized-release]
inherits = 'release'
lto = true
debug-assertions = false
opt-level = 3
panic = 'abort'
incremental = false

[patch.crates-io]
crypto_box = { git = "https://github.com/RustCrypto/nacl-compat", branch = "master" }
ed25519-dalek = { git = "https://github.com/dalek-cryptography/ed25519-dalek", branch = "main" }
