[package]
name = "iroh"
version = "0.4.2"
edition = "2021"
readme = "README.md"
description = "IPFS reimagined"
license = "MIT/Apache-2.0"
authors = ["dignifiedquire <me@dignifiedquire.com>", "n0 team"]
repository = "https://github.com/n0-computer/iroh"

# Sadly this also needs to be updated in .github/workflows/ci.yml
rust-version = "1.67"

[dependencies]
abao = { version = "0.2.0", features = ["group_size_16k", "tokio_io"], default-features = false }
anyhow = { version = "1", features = ["backtrace"] }
base64 = "0.21.0"
blake3 = "1.3.3"
bytes = "1.4"
clap = { version = "4", features = ["derive"], optional = true }
console = { version = "0.15.5", optional = true }
data-encoding = { version = "2.3.3", optional = true }
default-net = "0.14.1"
der = { version = "0.6", features = ["alloc", "derive"] }
derive_more = "0.99.17"
dirs-next = "2.0.0"
ed25519-dalek = { version = "1.0.1", features = ["serde"] }
futures = "0.3.25"
hex = "0.4.3"
indicatif = { version = "0.17", features = ["tokio"], optional = true }
multibase = { version = "0.9.1", optional = true }
num_cpus = "1.15.0"
portable-atomic = "1"
postcard = { version = "1", default-features = false, features = ["alloc", "use-std", "experimental-derive"] }
quic-rpc = { version = "0.6", default-features = false, features = ["quinn-transport", "flume-transport"] }
quinn = "0.10"
rand = "0.7"
rcgen = "0.10"
ring = "0.16.20"
rustls = { version = "0.21", default-features = false, features = ["dangerous_configuration"] }
serde = { version = "1", features = ["derive"] }
serde-error = "0.1.2"
ssh-key = { version = "0.5.1", features = ["ed25519", "std", "rand_core"] }
tempfile = "3.4"
thiserror = "1"
tokio = { version = "1", features = ["full"] }
tokio-stream = "0.1"
tokio-util = { version = "0.7", features = ["io-util", "io"] }
tracing = "0.1"
tracing-futures = "0.2.5"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
walkdir = "2"
webpki = { package = "rustls-webpki", version = "0.101.4", features = ["std"] }
x509-parser = "0.14"
zeroize = "1.5"

[dev-dependencies]
proptest = "1.0.0"
rand = "0.7"
testdir = "0.7.2"
regex = { version = "1.7.1", features = ["std"] }
nix = "0.26.2"

[features]
default = ["cli"]
cli = ["clap", "console", "indicatif", "data-encoding", "multibase"]
test = []

[[bin]]
name = "iroh"
required-features = ["cli"]

[profile.optimized-release]
inherits = 'release'
lto = true
debug-assertions = false
opt-level = 3
panic = 'abort'
incremental = false
