[package]
name = "iroh"
version = "0.3.0"
edition = "2021"
readme = "README.md"
description = "IPFS reimagined"
license = "MIT/Apache-2.0"
authors = ["dignifiedquire <me@dignifiedquire.com>", "n0 team"]
repository = "https://github.com/n0-computer/iroh"

# Sadly this also needs to be updated in .github/workflows/ci.yml
rust-version = "1.63"

[dependencies]
abao = { version = "0.1.2" }
anyhow = { version = "1", features = ["backtrace"] }
async-time-mock-tokio = "0.0.1"
backoff = "0.4.0"
base64 = "0.21.0"
blake3 = "1.3.3"
bytes = "1"
clap = { version = "4", features = ["derive"], optional = true }
console = { version = "0.15.5", optional = true }
crypto_box = "0.8.2"
curve25519-dalek = "=4.0.0-rc.1"
data-encoding = { version = "2.3.3", optional = true }
default-net = "0.12.0"
der = { version = "0.6", features = ["alloc", "derive"] }
derive_more = "0.99.17"
ed25519-dalek = { version = "=2.0.0-pre.0", features = ["serde", "rand_core"] }
flume = "0.10.14"
futures = "0.3.25"
hex = "0.4.0"
hostname = "0.3.1"
indicatif = { version = "0.17", features = ["tokio"], optional = true }
libc = "0.2.139"
multibase = { version = "0.9.1", optional = true }
once_cell = "1.17.0"
os_info = "3.6.0"
portable-atomic = "1"
postcard = { version = "1", default-features = false, features = ["alloc", "use-std", "experimental-derive"] }
quic-rpc = { version = "0.5", default-features = false, features = ["quinn-transport", "flume-transport"] }
quinn = "0.9.3"
quinn-proto = "0.9.2"
quinn-udp = "0.3.2"
rand = "0.8"
rcgen = "0.10"
reqwest = "0.11.14"
ring = "0.16.20"
rustls = { version = "0.20.8", default-features = false, features = ["dangerous_configuration"] }
serde = { version = "1", features = ["derive"] }
serde-error = "0.1.2"
socket2 = "0.4.7"
ssh-key = { version = "0.6.0-pre.0", features = ["ed25519", "std", "rand_core"] }
stun-rs = "0.1.4"
subtle = "2.4.1"
syscalls = { version = "0.6.7", features = ["full"] } # todo not all
tempfile = "3"
thiserror = "1"
tokio = { version = "1", features = ["full"] }
tokio-util = { version = "0.7", features = ["io-util", "io"] }
tracing = "0.1"
tracing-futures = "0.2.5"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
trust-dns-resolver = "0.22.0"
webpki = "0.22"
wg = "0.3.1"
x509-parser = "0.14"
zeroize = "1.5"

[dev-dependencies]
async-time-mock-tokio = { version = "0.0.1", features = ["mock"] }
hex = "0.4.0"
proptest = "1.0.0"
rand = "0.8"
testdir = "0.7.1"
regex = { version = "1.7.1", features = ["std"] }

[features]
default = ["cli"]
cli = ["clap", "console", "indicatif", "data-encoding", "multibase"]

[[bin]]
name = "iroh"
required-features = ["cli"]

[build-dependencies]
build-data = "0.1.3"
