[workspace]
members = [
  "iroh",
  "iroh-net",
  "iroh-bytes",
]

[profile.optimized-release]
inherits = 'release'
lto = true
debug-assertions = false
opt-level = 3
panic = 'abort'
incremental = false

[patch.crates-io.ed25519-dalek]
git = "https://github.com/dalek-cryptography/ed25519-dalek"
rev = "4afbf09e1cb15bedc6f79c25cec388b5cd436f0d"
