[package]
name = "iroh-bench"
version = "0.30.0"
edition = "2021"
license = "MIT OR Apache-2.0"
publish = false

[dependencies]
anyhow = "1.0.22"
bytes = "1.7"
hdrhistogram = { version = "7.2", default-features = false }
iroh = { path = ".." }
iroh-metrics = "0.30"
quinn = { package = "iroh-quinn", version = "0.12" }
rcgen = "0.13"
rustls = { version = "0.23", default-features = false, features = ["ring"] }
clap = { version = "4", features = ["derive"] }
tokio = { version = "1", features = ["rt", "sync"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3.0", default-features = false, features = [
    "env-filter",
    "fmt",
    "ansi",
    "time",
    "local-time",
] }
socket2 = "0.5"
futures-lite = "2.5"

[features]
default = []
local-relay = ["iroh/test-utils"]
