[package]
name = "iroh-bench"
version = "0.95.1"
edition = "2024"
license = "MIT OR Apache-2.0"
publish = false

[dependencies]
bytes = "1.7"
hdrhistogram = { version = "7.2", default-features = false }
iroh = { path = "..", default-features = false }
iroh-metrics = { version = "0.37", optional = true }
n0-future = "0.3.0"
n0-error = "0.1.0"
quinn = { package = "iroh-quinn", git = "https://github.com/n0-computer/quinn", branch = "Frando/qlog-latest-multipath" }
rand = "0.9.2"
rcgen = "0.14"
rustls = { version = "0.23.33", default-features = false, features = ["ring"] }
clap = { version = "4", features = ["derive"] }
tokio = { version = "1", features = ["rt", "sync"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3.0", default-features = false, features = [
    "env-filter",
    "fmt",
    "ansi",
    "time",
    "local-time",
] }

[features]
default = ["metrics", "fast-apple-datapath"]
metrics = ["iroh/metrics", "iroh-metrics"]
qlog = ["iroh/test-utils","iroh/qlog"]
local-relay = ["iroh/test-utils"]
# Use private Apple APIs to send multiple packets in a single syscall.
fast-apple-datapath = ["iroh/fast-apple-datapath", "quinn/fast-apple-datapath"]
