[package]
name = "iroh-bench"
version = "0.95.1"
edition = "2024"
license = "MIT OR Apache-2.0"
publish = false

[dependencies]
bytes = "1.7"
hdrhistogram = { version = "7.2", default-features = false }
iroh = { path = "..", default-features = false }
iroh-metrics = { version = "0.37", optional = true }
n0-future = { version = "0.3.0", features = ["tracing"] }
n0-error = "0.1.0"
quinn = { package = "iroh-quinn", git = "https://github.com/n0-computer/quinn", branch = "main-iroh" }
rand = "0.9.2"
rcgen = "0.14"
rustls = { version = "0.23.33", default-features = false, features = ["ring"] }
clap = { version = "4", features = ["derive"] }
tokio = { version = "1", features = ["rt", "sync"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3.0", default-features = false, features = [
    "env-filter",
    "fmt",
    "ansi",
    "time",
    "local-time",
] }
console-subscriber = { version = "0.5.0", features = ["parking_lot"], optional = true }

[features]
default = ["metrics"]
metrics = ["iroh/metrics", "iroh-metrics"]
local-relay = ["iroh/test-utils"]

# Enable tokio-console https://github.com/tokio-rs/console
# See https://docs.rs/console-subscriber/latest/console_subscriber/struct.Builder.html#method.with_default_env
#    for useful environment variables in particular to change listen addr and port
# WARNING: it requires special compilation flags
#    RUSTFLAGS="--cfg tokio_unstable" cargo build -r -p iroh-bench -F tokio-console
tokio-console = ["console-subscriber"]
