[package]
name = "netwatch"
version = "0.1.0"
readme = "README.md"
description = "Cross-platform monitoring for network interface changes"
license = "MIT OR Apache-2.0"
authors = ["n0 team"]
repository = "https://github.com/n0-computer/iroh"
keywords = ["networking", "interfaces"]
edition = "2021"

[lints]
workspace = true

[dependencies]
anyhow = { version = "1" }
atomic-waker = "1.1.2"
bytes = "1.7"
futures-lite = "2.5"
futures-sink = "0.3"
futures-util = "0.3"
libc = "0.2.139"
netdev = "0.31.0"
once_cell = "1.18.0"
quinn-udp = { package = "iroh-quinn-udp", version = "0.5.5" }
socket2 = "0.5.3"
thiserror = "2"
time = "0.3.20"
tokio = { version = "1", features = [
    "io-util",
    "macros",
    "sync",
    "rt",
    "net",
    "fs",
    "io-std",
    "signal",
    "process",
    "time",
] }
tokio-util = { version = "0.7", features = ["rt"] }
tracing = "0.1"

[target.'cfg(all(target_os = "linux", not(target_os = "android")))'.dependencies]
netlink-packet-core = "0.7.0"
netlink-packet-route = "0.19" # 0.20/21 is blocked on rtnetlink bumping its dependency
netlink-sys = "0.8.6"
rtnetlink = "=0.14.1" # pinned because of https://github.com/rust-netlink/rtnetlink/issues/83

[target.'cfg(target_os = "android")'.dependencies]
netlink-packet-core = "0.7.0"
netlink-packet-route = "0.19" # 0.20/21 is blocked on rtnetlink bumping its dependency
netlink-sys = "0.8.6"
rtnetlink = "=0.13.1" # pinned because of https://github.com/rust-netlink/rtnetlink/issues/83

[target.'cfg(target_os = "windows")'.dependencies]
wmi = "0.14"
windows = { version = "0.58", features = ["Win32_NetworkManagement_IpHelper", "Win32_Foundation", "Win32_NetworkManagement_Ndis", "Win32_Networking_WinSock"] }
serde = { version = "1", features = ["derive"] }
derive_more = { version = "1.0.0", features = ["debug"] }

[dev-dependencies]
tokio = { version = "1", features = [
    "io-util",
    "sync",
    "rt",
    "net",
    "fs",
    "macros",
    "time",
    "test-util",
] }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "iroh_docsrs"]
