[package]
name = "iroh"
version = "0.1.3"
edition = "2021"
authors = ["Kasey Huizinga <klhuizinga@gmail.com>", "Martijn Faassen <faassen@startifact.com>"]
license = "Apache-2.0/MIT"
repository = "https://github.com/n0-computer/iroh"
description = "Command line interface for interacting with iroh."
rust-version = "1.63"

exclude = [
  "tests/**",
  "fixtures/**",
]

[features]
testing = ["dep:relative-path"]

[dependencies]
anyhow = "1"
async-stream = "0.3.3"
clap = { version = "4.0.15", features = ["derive"] }
config = "0.13.1"
console = { version = "0.15", default-features = false }
crossterm = "0.25"
futures = "0.3.21"
git-version = "0.3.5"
indicatif = "0.17.1"
iroh-api = { version = "0.1.3", path = "../iroh-api"}
iroh-localops = { version = "0.1.3", path = "../iroh-localops" }
iroh-metrics = { version = "0.1.3", path = "../iroh-metrics", default-features = false, features = ["rpc-grpc"] }
iroh-util = { version = "0.1.3", path = "../iroh-util"}
relative-path = { version = "1.7.2", optional = true }
serde = { version = "1.0", features = ["derive"] }
sysinfo = "0.26.4"
tokio = { version = "1", features = ["fs", "io-util"] }
tonic = "0.8"
tracing = "0.1.34"
which = "4.3.0"

[dev-dependencies]
# We want to compile `iroh` in test mode, but we can't specify that yet:
# https://github.com/rust-lang/cargo/issues/1982
# This is a workaround for enabling features only during testing: 
# https://github.com/DesmondWillowbrook/cargo-optional-features-for-testing-and-examples
# It is needed to have trycmd invoke a version of the iroh CLI in testing
# mode. trycmd needs to have an actual binary to invoke.
# Unfortunately this also turns on the feature during development, which may be
# confusing. See the comments in `run.rs` surrounding this.
iroh = { path = ".", features = ["testing"] }
iroh-api = { version = "0.1.3", path = "../iroh-api", features = ["testing"] }
trycmd = "0.14.1"
