[package]
name = "iroh"
version = "0.33.0"
edition = "2021"
readme = "README.md"
description = "p2p quic connections dialed by public key"
license = "MIT OR Apache-2.0"
authors = ["dignifiedquire <me@dignifiedquire.com>", "n0 team"]
repository = "https://github.com/n0-computer/iroh"
keywords = ["quic", "networking", "holepunching", "p2p"]

# Sadly this also needs to be updated in .github/workflows/ci.yml
rust-version = "1.81"

[lib]
# We need "cdylib" to actually generate .wasm files when we run with --target=wasm32-unknown-unknown.
# It would be nice if we could make this target-dependent, but we can't (yet): https://github.com/rust-lang/cargo/issues/12260
crate-type = ["lib", "cdylib"]

[lints]
workspace = true

[dependencies]
aead = { version = "0.5.2", features = ["bytes"] }
anyhow = { version = "1" }
atomic-waker = "1.1.2"
concurrent-queue = "2.5"
backoff = { version = "0.4.0", features = ["futures"] }
bytes = "1.7"
crypto_box = { version = "0.9.1", features = ["serde", "chacha20"] }
data-encoding = "2.2"
der = { version = "0.7", features = ["alloc", "derive"] }
derive_more = { version = "1.0.0", features = [
    "debug",
    "display",
    "from",
    "try_into",
    "deref",
    "from_str"
] }
ed25519-dalek = "2.0"
http = "1"
iroh-base = { version = "0.33.0", default-features = false, features = ["key", "relay"], path = "../iroh-base" }
iroh-relay = { version = "0.33", path = "../iroh-relay", default-features = false }
n0-future = "0.1.2"
netwatch = { version = "0.3" }
pin-project = "1"
pkarr = { version = "2", default-features = false, features = [
    "async",
    "relay",
] }
quinn = { package = "iroh-quinn", version = "0.13.0", default-features = false, features = ["rustls-ring"] }
quinn-proto = { package = "iroh-quinn-proto", version = "0.13.0" }
quinn-udp = { package = "iroh-quinn-udp", version = "0.5.7" }
rand = "0.8"
rcgen = "0.13"
reqwest = { version = "0.12", default-features = false, features = [
    "rustls-tls",
] }
ring = "0.17"
rustls = { version = "0.23", default-features = false, features = ["ring"] }
serde = { version = "1", features = ["derive", "rc"] }
smallvec = "1.11.1"
strum = { version = "0.26", features = ["derive"] }
stun-rs = "0.1.5"
thiserror = "2"
tokio = { version = "1", features = [
    "io-util",
    "macros",
    "sync",
    "rt",
] }
tokio-stream = { version = "0.1.15", features = ["sync"] }
tokio-util = { version = "0.7", features = ["io-util", "io", "rt"] }
tracing = "0.1"
url = { version = "2.5", features = ["serde"] }
webpki = { package = "rustls-webpki", version = "0.102" }
webpki-roots = "0.26"
x509-parser = "0.16"
z32 = "1.0.3"
net-report = { package = "iroh-net-report", path = "../iroh-net-report", version = "0.33", default-features = false }

# metrics
iroh-metrics = { version = "0.32", default-features = false }

# local-swarm-discovery
swarm-discovery = { version = "0.3.0-alpha.2", optional = true }
futures-util = "0.3"

# test_utils
axum = { version = "0.7", optional = true }

# Examples
clap = { version = "4", features = ["derive"], optional = true }
tracing-subscriber = { version = "0.3", features = [
    "env-filter",
], optional = true }
indicatif = { version = "0.17", features = ["tokio"], optional = true }
parse-size = { version = "=1.0.0", optional = true } # pinned version to avoid bumping msrv to 1.81

# non-wasm-in-browser dependencies
[target.'cfg(not(all(target_family = "wasm", target_os = "unknown")))'.dependencies]
hickory-resolver = { version = "=0.25.0-alpha.5" }
igd-next = { version = "0.15.1", features = ["aio_tokio"] }
netdev = { version = "0.31.0" }
portmapper = { version = "0.4", default-features = false }
quinn = { package = "iroh-quinn", version = "0.13.0", default-features = false, features = ["platform-verifier", "runtime-tokio", "rustls-ring"] }
tokio = { version = "1", features = [
    "io-util",
    "macros",
    "sync",
    "rt",
    "net",
    "fs",
    "io-std",
    "signal",
    "process",
] }

# wasm-in-browser dependencies
[target.'cfg(all(target_family = "wasm", target_os = "unknown"))'.dependencies]
wasm-bindgen-futures = "0.4"
# we don't use instant nor time directly, but need to enable it because backoff and x509_parser use these in browsers and we need to enable some feature flags for that to work
instant = { version = "0.1", features = ["wasm-bindgen"] }
time = { version = "0.3", features = ["wasm-bindgen"] }

# target-common test/dev dependencies
[dev-dependencies]
testresult = "0.4.0"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

# *non*-wasm-in-browser test/dev dependencies
[target.'cfg(not(all(target_family = "wasm", target_os = "unknown")))'.dev-dependencies]
axum = { version = "0.7" }
clap = { version = "4", features = ["derive"] }
futures-lite = "2.6"
pretty_assertions = "1.4"
rand_chacha = "0.3.1"
tokio = { version = "1", features = [
    "io-util",
    "sync",
    "rt",
    "net",
    "fs",
    "macros",
    "time",
    "test-util",
] }
serde_json = "1"
iroh-relay = { path = "../iroh-relay", default-features = false, features = ["test-utils", "server"] }
tracing-test = "0.2.5"

# wasm-in-browser test/dev dependencies
[target.'cfg(all(target_family = "wasm", target_os = "unknown"))'.dev-dependencies]
tracing-subscriber-wasm = "0.1.0"
wasm-bindgen-test = "0.3"

[build-dependencies]
cfg_aliases = { version = "0.2" }

[features]
default = ["metrics"]
metrics = ["iroh-metrics/metrics", "iroh-relay/metrics", "net-report/metrics", "portmapper/metrics"]
test-utils = ["iroh-relay/test-utils", "iroh-relay/server", "dep:axum"]
discovery-local-network = ["dep:swarm-discovery"]
discovery-pkarr-dht = ["pkarr/dht"]
examples = [
  "dep:clap",
  "dep:tracing-subscriber",
  "dep:indicatif",
  "dep:parse-size",
  "iroh-base/ticket"
]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "iroh_docsrs"]

[[test]]
name = "integration"
path = "tests/integration.rs"

[[example]]
name = "listen"

[[example]]
name = "connect"

[[example]]
name = "listen-unreliable"

[[example]]
name = "connect-unreliable"

[[example]]
name = "dht_discovery"
required-features = ["discovery-pkarr-dht"]

[[example]]
name = "locally-discovered-nodes"
required-features = ["discovery-local-network"]

[[example]]
name = "search"
required-features = ["examples"]

[[example]]
name = "echo"
required-features = ["examples"]

[[example]]
name = "transfer"
required-features = ["examples"]
