[package]
description = "all of iroh in a single binary"
edition = "2021"
license = "Apache-2.0/MIT"
name = "iroh-one"
readme = "README.md"
repository = "https://github.com/dignifiedquire/iroh"
version = "0.1.0"

[dependencies]
anyhow = "1"
async-trait = "0.1.56"
axum = "0.5.1"
bytes = "1.1"
cid = "0.8"
clap = {version = "4.0.9", features = ["derive"]}
config = "0.13.1"
futures = "0.3.21"
headers = "0.3.7"
http-serde = "1.1.0"
hyper = "0.14.19"
iroh-gateway = {path = "../iroh-gateway"}
iroh-metrics = {path = "../iroh-metrics", default-features = false}
iroh-p2p = {path = "../iroh-p2p", default-features = false}
iroh-resolver = {path = "../iroh-resolver"}
iroh-rpc-client = {path = "../iroh-rpc-client", default-features = false}
iroh-rpc-types = {path = "../iroh-rpc-types", default-features = false}
iroh-store = {path = "../iroh-store", default-features = false}
iroh-util = {path = "../iroh-util"}
reqwest = {version = "0.11", features = ["rustls-tls"], default-features = false}
serde = {version = "1.0", features = ["derive"]}
tempfile = "3.3.0"
tokio = {version = "1", features = ["macros", "rt-multi-thread", "process"]}
tracing = "0.1.33"

[dev-dependencies]
axum-macros = "0.2.0" # use #[axum_macros::debug_handler] for better error messages on handlers
http = "0.2" 

[features]
default = []

# uds-gateway controls whether http over uds is enabled. This is independent of the
# rpc-grpc control endpoint.
uds-gateway = []
