name: Commits

on:
  pull_request:
    branches: [main]
    types: [opened, edited, synchronize]

env:
  IROH_FORCE_STAGING_RELAYS: "1"

jobs:
  check-for-cc:
    runs-on: ubuntu-latest
    steps:
      - name: check-for-cc
        id: check-for-cc
        uses: agenthunt/conventional-commit-checker-action@v2.0.0
        with:
          pr-title-regex: "^(.+)(?:(([^)s]+)))?!?: (.+)"
